[Unit]
Description=Ejecutar sincronización de Sistema Finca cada cinco minutos

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
